form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: rgba(173, 191, 206, 0.34);
  border-radius: 10px;
  margin-top: 2rem;
}

.form-field {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.form-label {
  width: 50%;
  font-size: 1.5rem;
  font-weight: 700;
  margin-right: 0;
}

.form-control {
  width: 100%;
  font-size: 1.3rem;
  font-family: inherit;
  color: #293264b2;
  padding: 0.5rem;
  outline: 0;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

@media screen and (max-width: 760px) {
  form {
    padding: 1.5rem 1rem;
  }

  .form-label {
    width: 30%;
    font-size: 1.3rem;
    margin-right: 0.8rem;
  }
  .form-field {
    width: 100%;
  }
}
