.top-shape {
  position: absolute;
  right: 0;
  width: 20vw;
  z-index: -1;
}

.bottom-shape {
  position: absolute;
  bottom: 0;
  width: 20vw;
  z-index: -1;
}

/* Game Intro Section */
.game-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.game-title {
  font-family: Karla, sans-serif;
  font-weight: 700;
  font-size: 4rem;
}

.game-intro > p {
  font-size: 2rem;
  margin: 1rem;
}

/* Game Container */
.game-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.question-error {
  margin-top: 2rem;
  font-size: 1.6rem;
  font-style: italic;
  color: rgb(147, 87, 87);
  text-align: center;
}

/* Footer */
footer p {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 0;
  opacity: 0.8;
}

a {
  color: gray;
}

a:hover {
  color: #293264;
}

ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

@media screen and (max-width: 760px) {
  .top-shape,
  .bottom-shape {
    position: fixed;
    width: 30vw;
  }

  .game-container {
    position: static;
    top: unset;
    left: unset;
    transform: none;
    padding: 2rem 3rem;
  }

  .question-error {
    font-size: 1.2rem;
  }

  footer p {
    font-size: 1.3rem;
  }
}
