@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&family=Karla:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 1.5;
  background-color: #f5f7fb;
  color: #293264;
}
