@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&family=Karla:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Inter, sans-serif;
  font-weight: 500;
  line-height: 1.5;
  background-color: #f5f7fb;
  color: #293264;
}

main {
  position: relative;
  min-height: 100vh;
}

.btn-primary {
  font-size: 1.6rem;
  text-align: center;
  background: #4d5b9e;
  color: #f5f7fb;
  border-radius: 15px;
  border: 0;
  padding: 1.6rem 5rem;
  margin: 2rem;
  letter-spacing: 0.1rem;
  outline: 0;
  cursor: pointer;
  white-space: nowrap;
}

.btn-primary:active {
  box-shadow: 3px 3px 10px 0 #868fb8;
}

@media screen and (max-width: 760px) {
  .btn-primary {
    font-size: 1.3rem;
    padding: 1.4rem 3rem;
    margin: 0.5rem;
  }
}
